:root{
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
    --colorHover: hsl(281, 83%, 54%);
    --font-size-paragraph: 1rem;
    
}

body{
    background-color: var(--light-pink);
    background-image: url(./assets/images/background-pattern-desktop.svg);
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Work Sans", sans-serif;
    background-size: auto;
    background-repeat: no-repeat;
}

.text-header{
    display: flex;
    align-items: start;
    font-family: inherit;
}

.details-all:not(:last-child)::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--light-pink);
    margin: 0;
}

.details-all{
    display: flex;
    flex-direction: column;
}

.btn{
    background: none;
    border: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 100%;
    text-align: left;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
}

.details-all p{
    color: var(--grayish-purple);
    font-size: var(--font-size-paragraph);
    max-width: 52ch;
    display: none;
    margin-top: 0;
}

.details-all p.active{
    display: block;
}

/* Add the CSS styles for the active button and visible question */
.question-toggle-btn.active .plus-icon {
    display: none;
}
  
.question-toggle-btn.active .minus-icon {
    display: inline;
}
  
.question-toggle-btn .minus-icon {
    display: none;
}
  
.show {
    display: block;
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 896px) {
    .big-box{
        background-color: var(--white);
        width: max-content;
        padding: 2.25rem;
        border-radius: 1rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        box-shadow: 0 0 80px rgba(139, 104, 144, 0.4);
    }

    .text-header h1{
        font-size: 3rem;
        gap: 1.5rem;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .text-icon{
        height: 40px;
        width: 41px;
        position: relative;
        top: 3px;
    }

    .btn:hover{
        color: var(--colorHover);
    }
}

@media screen and (max-width: 896px) {
    .big-box{
        background-color: var(--white);
        max-width: 18rem;
        padding: 2.25rem;
        border-radius: 1rem;
        margin-block: 1rem;
        box-shadow: 0 0 80px rgba(139, 104, 144, 0.4);
    }

    .text-header h1{
        font-size: 2.5rem;
        gap: 1.0rem;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .text-icon{
        height: 40px;
        width: 41px;
        position: relative;
        top: 5px;
    }
}